{% extends "base.html" %}
{% block external %}
  <link rel="stylesheet"
   href="/site_media/jquery-ui-1.8.14.custom/css/smoothness/jquery-ui-1.8.14.custom.css"
   type="text/css" />
  <script type="text/javascript"
    src="/site_media/jquery.js">
  </script>  
  <script type="text/javascript"
    src="/site_media/jquery-ui-1.8.14.custom/js/jquery-ui-1.8.14.custom.min.js">
  </script>  
  <script type="text/javascript"
    src="/site_media/tag_autocomplete.js">
  </script>  
{% endblock %}
{% block title %}Bewaar Gebruiker Categorie{% endblock %}
{% block head %}Bewaar Gebruiker Categorie{% endblock %}
{% block content %}
{% include "gebruikercategorie_save_form.html" %}
{% endblock %}
